<div class="header">
  <h1>EXPERIENCE PULP COSMETICS</h1>
</div>

<div class="container">
	<div class=”row” id="About">
		
		<div class="col-md-4 col-xs-8">
			<%=image_tag(makeup-brush.jpg,  class: "img-responsive") %>
		</div>

		<div class="col-md-4 col-xs-8">
			<h2>New Cosemtic Line Coming Soon</h2>
   			<p>Pulp Cosmetics offers exclusive products to enter into a world of glowing skin. Pulp Cosmetics' products with innovative dual action formula hydrates and nourishes your skin while giving you a golden glow. Enriched with antioxidants, Aloe Vera and Vitamin E to keep your skin healthy, while added SPF 15 provides daily sun protection.</p></div>
			<div class="col-md-4 col-xs-8 skills">
				<h3>The effortless beauty</h3>
				<p>Effortless beauty means being prepared for anything – never leaving home without the basics, basking in your inner confidence, and being comfortable in your own skin. It means you can be selfie-ready at a moment’s notice.  
				</p>
   			 	<ul> 
    				<ul id="skill-list">
    					<li>fresh, radiant skin</li>
    					<li>puff be gone</li>
    					<li>locking lips</li>
					</ul>
			 	</ul>
			</div>
		</div>

	</div>

<div class="main-text">
	<h3>Looking good: face it!</h3>
    <p>It’s time to face facts! Fresh, radiant skin is all yours thanks to the basics – cleansing, toning and moisturising daily, as well as eating well, but it’s also about attitude. Having oodles of confidence to ‘own’ your look means you can literally put your best face forward. Sometimes, we all need some pointers to make sure our effortless look stays flawless from day to night.</p>
</div>

