development:
  adapter: async

test:
  adapter: async

production:
  adapter: postgresql
  url: postgres://vpihhoivbklqev:03709800ad905b01957fddf34cf390989bf190dffe43fbf8c67bad6fab7cf06f@ec2-54-225-242-74.compute-1.amazonaws.com:5432/dbkntpob5j8meb
