# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 74a2b2ccfb6e7f6562936d7e3ff34852f4f616d628ae4f6df5e6377882a7eb41490c33d49df90be20235e7bfc12c95785dd341885ef7283fcf776af9c80ef77d

test:
  secret_key_base: 91f0fbf1ca913420280fc8196916dba6af084506074d20a78daac2fc38f256f880b2816c21a57fa26bcd6c2ffeb94129f5dd9cea05c98848714607b7236f112b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
