// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.actions {
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #3CBC8D;
    color: white;
}