<h1>SHOP</h1>

<%= will_paginate @products %>

<div class="row">
  <%= render partial: "product", collection: @products %>
</div>

<%= will_paginate @products %>

<br>

<%= link_to 'New Product', new_product_path %>